/* Random Dog Image */
html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: lightgray
}

#btn{
    background: skyblue;
    padding:13px;
    border:none;
    font-size:14px
}
/* wheather APP challenge */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lora', serif;
    background: rgb(251, 242, 133);
    background: radial-gradient(
      circle,
      rgba(251, 242, 133, 0.6334908963585435) 0%,
      rgba(224, 196, 91, 0.8407738095238095) 35%,
      rgba(230, 224, 113, 1) 100%
    );
  }
  
  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  
  .weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
    font-size: 1.5rem;
  }
  
  #location {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
  }
  .desc {
    font-size: 1.25rem;
    text-transform: capitalize;
  }
  
  .circle {
    background-color: black;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    margin: 0 15px;
  }
  
  #search {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: none;
  }
  
  #search:focus {
    outline: none;
  }
  .btn {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    color: white;
    background-color: dodgerblue;
  }

  /* movie task list */
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Sans+Pro:wght@600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

.header {
  background-color: #141414;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav {
  display: flex;
  align-items: center;
}
.nav li {
  list-style: none;
  padding: 0px 6px;
}

.logo {
  height: 30px;
}

.avatar {
  height: 60px;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px;
  
}
.search-box {
  margin-top: 10px;
  padding: 5px 5px;
  background: black;
  color: white;
  border: 1px solid white;
  width: 300px;
  border-radius: 2px;
}

#search{
    background: red;
    border:none;
    padding:7px 12px;
    color:white;
    font-size:14px
}

.main {
  background: black;
  color: white;
  min-height: 100vh;
}

.movies-section {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 50px;
}

.movie-card {
  margin: 0px 10px;
}

.movie-image {
  height: 250px;
}

.movie-image img {
  height: inherit;
}

.movie-heading {
  font-weight: bold;
  color: red;
}
.details{
  font-size: 14px;
}

.button{
  padding:4px 10px;
  font-size:13px;
  color:white;
  background-color:red;
  border: none;
  margin: 4px 0px;
}

.rating{
  display: flex;
  align-items: center;
}